<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ucsd.cs110.splurge"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ucsd.cs110.splurge.HomeScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ucsd.cs110.splurge.RestaurantMainMenuActivity"
            android:label="@string/title_activity_restaurant_view" >
        </activity>
        <activity
            android:name="ucsd.cs110.splurge.BreakfastMenuActivity"
            android:label="@string/title_activity_breakfast_menu"
            android:parentActivityName="ucsd.cs110.splurge.HomeScreenActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ucsd.cs110.splurge.HomeScreenActivity" />
        </activity>
        <activity
            android:name="ucsd.cs110.splurge.LunchMenuActivity"
            android:label="@string/title_activity_lunch_menu" >
        </activity>
        <activity
            android:name="ucsd.cs110.splurge.FoodMenuActivity"
            android:label="@string/title_activity_food_menu" >
        </activity>
        <activity
            android:name="ucsd.cs110.splurge.RestaurantMainMenuFragment"
            android:label="@string/title_activity_restaurant_main_menu_fragment" >
        </activity>
        <activity
            android:name="ucsd.cs110.splurge.FoodItemActivity"
            android:label="@string/title_activity_food_item" >
        </activity>
        <activity
            android:name="ucsd.cs110.splurge.InformationActivity"
            android:label="@string/title_activity_information" >
        </activity>
    </application>

</manifest>
